*~
*.elc
.mc-lists.el
.projectile
auto-save-list/
recentf
savehist
saveplace
eshell
el-get
eln-cache/
history
session*
semanticdb
url
places
.smex-items
smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat 
network-security.data
transient/
var/
.cache/
.lsp-session*
gotools/
eln-cache/
network-security.data
var/slack-files/
